<h1>Here is the list of Bookmarks</h1>

<ul>
  <%  @bookmarks.each do |bookmark| %>
  <% url = bookmark["url"] %>
  <% title = bookmark["title"] %>
  <li><a href="<%= url %>"><%= title %></a>
  <% end %>
</ul>
